*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

:root{
    --font-paragrafo: 'Open Sans', sans-serif;
    --font-title:'Poppins', sans-serif;
    --vermelho: #e50914;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho{
    color: #fff;
    min-width: 1440px;
    height: 80vh;
    background: url("/img/bg.jpg") no-repeat center;
    background-color: rgba(0,0,0, 0.5);
}

header{
    position: relative;
    border-bottom: 8px solid #222;
}

header .logo{
    width: 150px;
    z-index: 1;
}

header .menu{
    display: flex;
    margin: 0 40px;
    justify-content: center;
    align-items: center;
}

header .menu-links{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 0 20px;
    height: 8vh;
    align-items: center;
    z-index: 1;
    text-decoration: none;
    list-style: none;

}

.menu-links select{
    padding: 5px 10px;
    font-family: var(--font-title);
    margin: 5px 5px;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border: 1px solid #cecece;
}


.menu-links a{
    padding: 6px 15px;
    background-color: var(--vermelho);
    text-decoration: none;
    color: #fff;
    border-radius: 2px;
    margin: 20px 10px;
    align-items: center;
    text-align: center;
    font-family: var(--font-title);
}

.chamada1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    position: absolute;
    z-index: 1;
}

header h1, h2, p{
    font-family: var(--font-paragrafo);
}

header h1{
    width: 590px;
    font-size: 3.5rem;
}

header h2{
    margin: 30px;
}

header p{
    font-weight: 400;
    font-size: 1.2rem;
}


.gradient{
    background: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.form{
    margin-top: 30px;
    display: flex;
}

.form input{
    width: 500px;
    height: 75px;
    padding: 20px;
}

.btn-enviar{
    width: 210px;
    height: 75px;
    background-color: var(--vermelho);
    color: #fff;
    font-size: 2rem;
    font-family: var(--font-title);
    border: none;
}

.btn-enviar:hover{
    background-color: rgba(230, 103, 103, 0.932);
    cursor: pointer;
    border: 1px solid #000;
}

/* INICIO SESSAO TV */
.sessao-tv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    background: #000;
    color: #fff;
    border-bottom: 8px solid #222;
}

.sessao-tv-texto h1{
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}

.sessao-tv-texto p{
    font-family: var(--font-paragrafo);
    font-weight: 400;
    width: 400px;
    font-size: 1.5rem;
}

.sessao-tv-video{
    position: relative;
}

.sessao-tv-video img{
    position: relative;
    z-index: 1;
}

.video-tv{
    position: absolute;
    top: 80px;
    left: 85px;
    width: 80%;
}


/* FIM SESSAO TV */


/* INICIO SESSAO DOWNLOAD */
.sessao-download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: #000;
    color: #fff;
    border-bottom: 8px solid #222;
}


.sessao-download img{
    width: 80%;
}

.sessao-download-texto h1{
font-family: var(--font-title);
font-size: 3rem;
width: 450px;
font-weight: 400;
}

.sessao-download p{
    font-family: var(--font-paragrafo);
    font-size: 1.5rem;
    width: 480px;
}
/* FIM SESSAO DOWNLOAD */

/* INICIO SESSAO ONDE QUISER */
.sessao-ondequiser{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background: #000;
    color: #fff;
    border-bottom: 8px solid #222;
}

.sessao-ondequiser-texto h1{
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    width: 400px;
    text-align: start;
}

.sessao-ondequiser-texto p{
    font-family: var(--font-paragrafo);
    font-weight: 400;
    width: 450px;
    font-size: 1.5rem;
}


.sessao-ondequiser-video{
    position: relative;
}

.sessao-ondequiser-video img{
    position: relative;
    z-index: 1;
}

.ondequiser-video{
    position: absolute;
    top: 48px;
    left: 130px;
    width: 60%;
}
/* FIM SESSAO ONDE QUISER */

/* INICIO SESSAO CRIANÇAS */
.sessao-crianças{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55vh;
    background: #000;
    color: #fff;
    border-bottom: 8px solid #222;
}

.sessao-crianças-texto h1{
    font-family: var(--font-title);
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    width: 400px;
    text-align: start;
}

.sessao-crianças-texto p{
    font-weight: 400;
    width: 530px;
    font-size: 1.3rem;
    font-family: var(--font-paragrafo);
    text-align: start;
}

.sessao-crianças img{
    width: 80%;
}
/* FIM SESSAO CRIANÇAS */

/* FOOTER PRINCIPAL */
.footer-principal{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
}

.footer-principal h1{
    font-family: var(--font-paragrafo);
    font-size: 1.3rem;
    font-weight: 400;
}

.footer-principal p{
    text-align: center;
    margin: 50px;
    font-family: var(--font-paragrafo);
}
/* FOOTER PRINCIPAL */